
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>All About Apple - All For You</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Bootie Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!-- Style-CSS -->
    <!-- //Fonts -->
    <script src="https://kit.fontawesome.com/05970e0308.js" crossorigin="anonymous"></script>
    <!-- font-awesome-icons -->
    <!-- SwiperAPI -->
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>
<body>
<style>
    :root {
    --swiper-navigation-size: 20px;
}
    .swiper {
  width: 100%;
  height: 80%;
  margin: 0 0 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-next,
.swiper-button-prev {
cursor:default;
background-color: #3333334f;
color: rgba(255, 255, 255, 0.277) !important;
}

.swiper-button-next {
width: 50px !important;
height: 50px !important;
border-radius: 100%;
right: 40px !important;
}

.swiper-button-prev {
width: 50px !important;
height: 50px !important;
border-radius: 100%;
left: 40px !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
background-color: #333333b5!important;
color: rgba(255, 255, 255, 0.703)!important;
transition: all 100ms ease-in;
}
</style>
<header class="navbar">
        <div class="logo" style="cursor: pointer;">
            <a href="/"><img src="/images/logo.png" alt="Logo" style="max-width: 36px; max-height: 48px;"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">iPhone</a></li>
                <li><a href="/">iPad</a></li>
                <li><a href="/">Mac</a></li>
                <li><a href="/">Phụ kiện</a></li>
                <li><a href="/">Giới thiệu</a></li>
                <li><a href="/">Liên hệ</a></li>
                
            </ul>
        </div>
        <div class="loginsession">
            <img src="/images/logo.png" alt="avatar" style="width: 50px; height: 50px;border-radius:50px;padding:5px">
                                       
                <div class="loginicon"><img src="/images/login.png" alt=""></div>
        <div class="carticon" style="cursor:pointer;"><a href="/view/cart.php"><img src="/images/cart-icon.png" alt=""></a></div>
                <div class="accountdesktop" style="display:none;">
                    <div class="header-links">
                        <ul class="popup-header-links">
                            <li class="li_ico-register"><a href="/" class="ico-register">Tạo tài khoản ngay</a></li>
                            <li class="li_ico-login"><a href="/" class="ico-login">Đăng nhập</a></li>
                        </ul>
                </div>
            </div>        
    </div></header>
    <div class="swiper mySwiper swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-6a4e8326a735fedc" aria-live="off">
        
                    <div class="swiper-slide"><img src="/images/bannerto1.jpg" alt=""><a href=""></a></div>
                    <div class="swiper-slide"><img src="/images/bannerto2.jpg" alt=""><a href=""></a></div>
                    <div class="swiper-slide"><img src="/images/bannerto3.jpg" alt=""><a href=""></a></div>
          </div>
        <!-- swiper-pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"></span></div>
        <!-- next-previous -->
        <div class="swiper-button-next swiper-button-lock" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-6a4e8326a735fedc"></div>
        <div class="swiper-button-prev swiper-button-lock" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-6a4e8326a735fedc"></div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        
  <!-- Initialize Swiper -->
<!--/ab -->
        <!-- minor-banner -->
        <div class="minorbanner">
            <div class="minorbannerbody">
                <div class="minorbannercontent">
                        <a href=""><img src="images/Banner Âm thanh.png" alt="" style="object-fit: cover;width:100%" height="168"></a>
                        <a href=""><img src="images/Banner TCDM.png" alt="" style="object-fit: cover;width:100%" height="168"></a>
                        <a href=""><img src="images/387x166 1.png" alt="" style="object-fit: cover;width:100%" height="168"></a>
                </div>
            </div>
        </div>
    <!-- //ab -->
   
   <style>

</style>

<section class="about py-5">
        <div class="container pb-lg-3">
            <h3 class="tittle text-center"> iPhone </h3>
            <div class="grid" style="display:grid;width: auto;grid-template-columns: repeat(3,1fr);gap:15px;height: auto;">
                    {{#each products}}
                    <div class="col product-men">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="/images/{{this.image}}"class="img-fluid" alt="">
                            <form action="" method="post">
                            <input type="hidden" name="name" value="iPhone 15 Pro Max">
                            <input type="hidden" name="img" value="s1.jpg">
                            <input type="hidden" name="price" value="34.990">
                            <input type="hidden" name="type" value="iphone">
                            <input type="hidden" name="soluong" value="1">
                            <button type="submit" name="addtocart" id="thanhtoan" style="cursor: pointer;"><i class="fa-solid fa-plus" aria-hidden="true"></i> Mua Ngay</button>
                            </form>                            
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="products/details/{{this.id}}" name="productname">{{this.model}}</a>
                            </h4>
                            
                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money" name="productprice">{{this.price}}</span>
                                    <span class="type" name="producttype" style="display:none;"> {{this.Category}} </span>
                                </div>
                            </div>
                            <ul class="stars">
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                    
                    {{/each}}
                </div>   
            </div>
        </div>            
</div>
</section>

<section class="about py-5 " id="product-section">

<div class="container pb-lg-3">
            <h3 class="tittle text-center"> iPad </h3>
            <div class="grid" style="display:grid;width: auto;grid-template-columns: repeat(3,1fr);gap:15px;height: auto;">
                <div class="col product-men" style="">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="/images/s9.jpg " class="img-fluid" alt="">
                            <form action="/" method="post">
                            <input type="hidden" name="name" value="iPad">
                            <input type="hidden" name="img" value="s9.jpg">
                            <input type="hidden" name="price" value="28.000">
                            <input type="hidden" name="type" value="ipad">
                            <input type="hidden" name="soluong" value="1">
                            <button type="submit" name="addtocart" id="thanhtoan" style="cursor: pointer;"><i class="fa-solid fa-plus" aria-hidden="true"></i> Mua Ngay</button>
                            </form>                       
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="shop-single.html" name="productname"> iPad  </a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money" name="productprice">28.000.000₫</span>
                                    <span class="type" name"producttype"="" style="display:none;"> ipad </span>
                                </div>
                            </div>
                            <ul class="stars">
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>            
</div>
<div class="container pb-lg-3">
            <h3 class="tittle text-center"> Mac </h3>
            <div class="grid" style="display:grid;width: auto;grid-template-columns: repeat(3,1fr);gap:15px;height: auto;">
                <div class="col product-men" style="">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="/images/s7.jpg " class="img-fluid" alt="">
                            <button type="submit" name="addtocart" id="thanhtoan" style="cursor: pointer;"><i class="fa-solid fa-plus" aria-hidden="true"></i> Mua Ngay</button>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="shop-single.html" name="productname"> Macbook  </a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money" name="productprice">19.000.000₫</span>
                                    <span class="type" name="producttype" style="display:none;"> mac </span>
                                </div>
                            </div>
                            <ul class="stars">
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>            
</div>
<div class="container pb-lg-3">
            <h3 class="tittle text-center"> phụ kiện </h3>
            <div class="grid" style="display:grid;width: auto;grid-template-columns: repeat(3,1fr);gap:15px;height: auto;">
                <div class="col product-men" style="">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="/images/s11.jpg " class="img-fluid" alt="">
                            <form action="/" method="post">
                            <input type="hidden" name="name" value="Air Pods ">
                            <input type="hidden" name="img" value="s11.jpg">
                            <input type="hidden" name="price" value="3.000">
                            <input type="hidden" name="type" value="accessories">
                            <input type="hidden" name="soluong" value="1">
                            <button type="submit" name="addtocart" id="thanhtoan" style="cursor: pointer;"><i class="fa-solid fa-plus" aria-hidden="true"></i> Mua Ngay</button>
                            </form>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="shop-single.html" name="productname"> Air Pods   </a>
                            </h4>

                            <div class="product_price">
                                <div class="grid-price">
                                    <span class="money" name="productprice">3.000.000₫</span>
                                    <span class="type" name="producttype" style="display:none;"> accessories </span>
                                </div>
                            </div>
                            <ul class="stars">
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
</div>
</div></div></div></section>
    <!-- //ab -->
    
 
<footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts"> 
                <div>        
                        <a href=""><img class="footerlogo" src="images/logo.png" alt="">
                            <h3 class="footerlogoname">All About Apple</h3>
                            </a>
                </div>               
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm    odo consequat.</p>
                    <h4 class="sub-con-fo ad-info my-4">Catch on Social</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook">
                                <span class="fa fa-facebook-f" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#" class="w3pvt_twitter">
                                <span class="fa fa-twitter" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble">
                                <span class="fa fa-dribbble" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#" class="w3pvt_google">
                                <span class="fa fa-google-plus" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="w3layouts-news-letter">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Newsletter</h3>

                        <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                        <form action="#" method="post" class="w3layouts-newsletter">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"><span class="fa fa-paper-plane-o" aria-hidden="true"></span></button>

                        </form>
                    </div>
                    <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Information</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="">Home</a>
                                </li>
                                <li class="mt-3">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="mt-3">
                                    <a href="#">Gallery</a>
                                </li>
                                <li class="mt-3">
                                    <a href="#">Services</a>
                                </li>
                                <li class="mt-3">
                                    <a href="contact.html">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts">
                            <!-- social icons -->
                            <div class="agileinfo_social_icons">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Customer Service</h3>
                                <ul class="list-unstyled w3layouts-icons">

                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Delivery &amp; Returns</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Waranty</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Terms &amp; Condition</a>
                                    </li>
                                    <li class="mt-3">
                                        <a href="#">Privacy Plolicy</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social icons -->
                        </div>
                        <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Info</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Phone</h4>
                                    <p>+121 098 8907 9987</p>
                                </div>
                                <div class="footer-address-inf my-4">
                                    <h4 class="ad-info mb-2">Email </h4>
                                    <p><a href="mailto:info@example.com">info@example.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info mb-2">Location</h4>
                                    <p>Honey Avenue, New York City</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="cpy-right text-left row">
                        <p class="col-md-10">© 2019 Bootie. All rights reserved | Design by
                            <a href="http://w3layouts.com"> W3layouts.</a>
                        </p>
                        <!-- move top icon -->
                        <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                        <!-- //move top icon -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
        var swiper = new Swiper(".mySwiper", {
        speed: 750,
        rewind: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        loop: true,   
        autoplay: {
                delay: 2000,
        },
        });


    const loginicon = document.querySelector(".loginicon");
        const accountdesktop = document.querySelector(".accountdesktop");
        let timeoutId;

        function showAccountDesktop() {
            clearTimeout(timeoutId);
            accountdesktop.style.display = "block";
        }

        function hideAccountDesktop() {
            timeoutId = setTimeout( () =>    {
                accountdesktop.style.display = "none";
            }, 100); // Đặt thời gian chờ trước khi ẩn .accountdesktop (vd: 500ms)
        }

        loginicon.addEventListener("mouseenter", showAccountDesktop);
        loginicon.addEventListener("mouseleave", hideAccountDesktop);

        accountdesktop.addEventListener("mouseenter", showAccountDesktop);
        accountdesktop.addEventListener("mouseleave", hideAccountDesktop);
</script> 
</body>